<nav>
  <% if(currentUser) { %>
    <div class="logo">
      <a href="/user/homepage"><h1>StreamQuest</h1></a>
    </div>

    <div class="navlinks">
      <a href="/user/homepage">Home</a>
      <a href="/user/watchlist">My Watch List</a>
      <a href="/auth/sign-out">Sign Out</a>
      <% if (currentUser && currentUser.isAdmin) { %>
        <a href="/admin/import-dashboard">Admin Dashboard</a>
      <% } %>
    </div>
  <% } else { %>
    <h1>StreamQuest</h1>
  <% } %>
</nav>
