<nav>
  <% if(user) { %>
  <div class="logo"><h1>StreamQuest</h1></div>

  <div class="navlinks">
    <a href="/user/homepage">Home</a>
    <a href="/user/watchlist">My Watch List</a>
    <a href="/auth/sign-out">Sign Out</a>
  </div>
  <% } else { %>
  <h1>StreamQuest</h1>
  <% } %>
</nav>
