@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #0b0b01;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

body {
  overflow-x: hidden;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  z-index: 100;
  background-color: #0b0b01;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}


.navbar {
  width: 100%;
}

.navlinks {
  display: flex;
  gap: 1.25rem;
}

.navlinks a {
  text-decoration: none;
  color: #f2f2f2;
}

.navlinks a:hover {
  text-decoration: underline;
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  gap: 1rem;
  background-color: #111;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 3.75rem;
  padding-left: 3.125rem;
  color: white;
}


.hero-overlay {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px) brightness(1.2);
    -webkit-backdrop-filter: blur(12px) brightness(1.2);
    padding: 1.5rem 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 50%;
    height: auto;
    border-radius: 0.625rem;
    box-shadow:
    0 0 150px rgba(255, 255, 255, 0.3),
    0 0 60px rgba(0, 0, 0, 0.5),
    inset 0 0 1.875rem rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
    animation: screenFlicker 2s infinite ease-in-out;
}

@keyframes screenFlicker {
  0%, 100% {
    box-shadow:
      0 0 150px rgba(255, 255, 255, 0.3),
      0 0 60px rgba(0, 0, 0, 0.5),
      inset 0 0 30px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow:
    0 0 200px rgba(255, 255, 255, 0.4),
    0 0 80px rgba(0, 0, 0, 0.6),
    inset 0 0 40px rgba(255, 255, 255, 0.15);
  }
}

.hero-overlay h1 {
  font-size: 2rem;
}

.hero-overlay p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
}

/* Buttons */
.button-container{
  display: flex;
  gap: .5rem;
  margin-top: 1rem;
}

.trailer-button,
.soundtrack-button,
form button {
  padding: 0.625rem 1.25rem;
  background: #d91284;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0.5rem;
}

form button:hover,
.trailer-button:hover,
.soundtrack-button:hover {
  background-color: #c01074;
  color: #f2f2f2;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  width: 80%;
  max-width: 50rem;
  border-radius: 0.625rem;
  box-shadow:
    0 0 25px rgba(0, 255, 255, 0.8),
    0 0 50px rgba(0, 255, 255, 0.6),
    inset 10px 10px 15px rgba(0, 0, 0, 0.6),
    inset -10px -10px 15px rgba(50, 50, 50, 0.2);
}

#trailer-frame {
  border-radius: 0.625rem;
}

.close {
  position: absolute;
  top: -20px;
  right: -20px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Cast Section */
.cast-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: .5rem;
  margin-bottom: .5;
}

.actor-card {
  background-color: #1a1a1a;
  border-radius: 0.625rem;
  overflow: hidden;
  width: 10rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease;
}

.actor-card:hover {
  transform: translateY(-5px);
}

.actor-card img {
  width: 100%;
  height: 14.375rem;
  object-fit: cover;
  border-bottom: 1px solid #444;
}

.actor-info {
  padding: 0.5rem;
  color: #f2f2f2;
}

.actor-info h4 {
  margin: 0.25rem 0 0.1rem;
  font-size: 1rem;
}

.actor-info p {
  font-size: 0.85rem;
  color: #aaa;
}

/* Headings */
h2 {
  margin: 2rem 0 1rem;
  text-align: center;
  font-size: 1.8rem;
  color: #f2f2f2;
}

.carousel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 20rem;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.upcoming-scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
  max-width: 90%;
}

.upcoming-scroll-container::-webkit-scrollbar {
  display: none;
}

.upcoming-scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.upcoming-card {
  flex: 0 0 auto;
  width: 160px;
  background-color: #1a1a1a;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.upcoming-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.upcoming-title {
  color: #f2f2f2;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.arrow {
  background: none;
  border: none;
  color: #f2f2f2;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
}

#watchlistId{
  width: 12rem;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #1a1a1a;
  color: #f2f2f2;
  margin-bottom: 10px;
}

.footer {
  background-color: #0b0b01;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.footer p {
  color: #f2f2f2;
  font-size: 0.8rem;
  word-spacing: .2rem;
}
.footer a {
  color: #d91284;
  text-decoration: none;
}

@media (max-width: 768px) {
  html {
    zoom: 0.8;
  }
}

@media (max-width: 480px) {
  html {
    zoom: 0.65;
  }
}
